.container {
  position: relative;
  opacity: 1 !important;
  margin-top: 50px;
}

.bg {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/edd-background");
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0;
  position: absolute;
}