 <!-- <div class="panel panel-default" [ngStyle]="{'background-image': getBackground()}">
<app-navbar></app-navbar>
<app-persons></app-persons>
<app-event-bind></app-event-bind>
<router-outlet></router-outlet>
</div> 
 -->
<router-outlet></router-outlet>
<!-- 
<ul>
  <app-cursos></app-cursos>
  <li *ngFor="let todo of todos">{{ todo.id }}. {{ todo.todo }}
    <button class="btn-primary" (click)="markAsDone(todo)">Concluir</button>
    <button (click)="remove(todo)">Remover</button>
  </li>
</ul> -->
